* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.navbar {
    border-radius: 0px;
}
.navbar-right {
    float: right!important;
    margin-right: -15px;
    margin-top: 8px;
}
.saved_item ul li{
    display: inline-block;
    border-right: 2px solid #000;
    padding-right: 5px;
}

.saved_item ul li:last-child{
    border-right: none;
}
.saved_item ul li a{
    text-decoration: none;
}
.searchbar{
    width: 100%;
    
}

.web_title a{
    text-decoration: none;
}
.saved_item{
    text-align: right;
    margin-top: 5px;
}
.saved_item ul{
    
}
.web_title h1{
    margin-top: -20px;
}
.gender{
    background-color: #ddd;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
}
.gender a{
    text-decoration: none;
}
.catagory{
    background-color: #ddd;
   
}
.discount{
    background-color: #ddd;
    padding: 10px 20px;
    margin-top: 15px;
}
.discount p{
    font-size: 20px;
}
.catagory{
    padding-left: 25px;
    padding-top: 20px;
    margin-top: 15px;
    padding-bottom: 20px;
}
.catagory_list ul li a{
    text-decoration: none;
}
h4#cat_title{
    color: #B5B5B5;
    font-weight: bold;
    font-size: 15px;
}
.catagory_list li{
    list-style: none;
}
.catagory_title h4{
    font-size: 14px;
}
.catagory_title {
    background-color: #0088CC;
    margin-right: 20px;
    margin-left: -25px;
    padding-left: 26px;
    padding-top: 1px;
    display: table;
    width: 100%;
    color: #fff;
}
.shop_by_product ul{
    
    border-bottom: 2px solid #fff;
    margin-right: 50px;
    margin-bottom: 30px;
    content: ""
}
.shop_by_product ul:after{
    border-bottom: 2px solid #fff;
    margin-right: 50px;
    margin-bottom: 30px;
    content: ""
}
.offer{
    background-color: #ddd;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}
.thumbnail a>img, .thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    height: 170px;
}
.slogan{
    background-color: #ddd;
    padding: 10px;
    font-weight: 900;
    margin-bottom: 15px;
}
.float{
    float: right;
}
.slogan  .btn-primary {
    color: #fff;
    background-color: #FAAD41;
    border-color: #FAAD41;
    width: 125px;
}

.bottom_menu ul{
    display: block;
    text-align: right;
    
}
.bottom_menu ul li{
    list-style: none;
    display: inline-block;
    font: #fff;
    border-right: 1px solid #c7c7c7;
    padding: 0px 11px;
    
}
.bottom_menu ul li:last-child{
    border-right: none;
}
.bottom_menu ul li a{
    color: #C7C5C7;
    
}
.bottom_paragraph p{
    color: #C7C5C7;
}
.footer{
    padding: 20px 40px;;
    background-color: #2E2E2E;
    margin: 0 -15px;
}
.bottom_menu ul a i.fa.fa-facebook{
    font-size: 15px; 
}
.bottom_paragraph p{
    text-align: center;
    color: darkred;
}